html{
	box-sizing: border-box;
	font-family: 'Rajdhani', sans-serif;
}
*, *::before, *::after{
	box-sizing: border-box;
}
object{
	width: 100%;
	height: 3em;
	margin:0 auto;
	border-bottom: 5px solid #AC2430;
	text-align: center;	
	background-color: #cccc98;
	height: 100%;
}
nav{
	text-align: center;
}
#main-menu a{
	text-decoration: none;
	color:#594A42;
	font-weight: bold;
	font-size: 1.5em;
}
#main-menu ul li{
	display:inline-block;
	color: #594A42;
}
#menu-container
{
	margin-top:3em;	
}
#pagewrap
{
	max-width: 1024px;
	margin:0 auto;
	border:1px solid black;
	background:#cccc98;
}