html{
	box-sizing: border-box;
	font-family: 'Rajdhani', sans-serif;
	height: 100%;
	color: #594A42;
}

main
{
  font-size: 1.5em;
}

#menu-title, #menu-description
{
 text-align: center;
}
#main-container{
	margin:0 auto;
}
.menu-section
{

	margin: 0 auto;
  display: inline-block;
	text-align: center;

}

.image-container{
	display: inline-block;
}

.menu-details
{
	/*white-space: pre-wrap;*/
  background-color: white;
  text-align: left;
  width: 500px;
}

.menu_img
{
	width: 500px;
	height: 350px;
	padding: 15px;
}

#comrade-specials-div, #four-sections
{
  text-align: center;
}

#appetizer_id {
  position: absolute;
}

.menu-desc li
{
  text-decoration: none;
}

.menu-desc
{
  list-style: none;
}
/*.menu-desc {
  text-align: left;
}*/


/*image overlay*/

/*.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}*/
