html{
	box-sizing: border-box;
	font-family: 'Rajdhani', sans-serif;
	height: 100%;
	color: #594A42;
}

main
{
  font-size: 1.5em;
}

#menu-title, #menu-description
{
 text-align: center;
}
#main-container{
	margin:0 auto;
}
.menu-section
{

	margin: 0 auto;
  display: inline-flex;
	text-align: center;

}

.image-container{
	display: inline-block;
}

.menu-details
{
	/*white-space: pre-wrap;*/
  background-color: white;
  text-align: left;
  width: 500px;
}

.menu_img
{
	width: 500px;
	height: 350px;
	padding: 15px;
}

#comrade-specials-div, #four-sections
{
  text-align: center;
}

#appetizer_id, #lunch_id, #dinner_id, #desserts_id, #specials_id {
  position: absolute;
}

.menu-desc li
{
  text-decoration: none;
}

.menu-desc
{
  list-style: none;
}


.gallery-item {
    position: relative;
}

    .gallery-item:first-child {
        /*margin-right: 2.762430939%;*/
    }

.gallery-item img {
    /*width: 100%;*/
}

.gallery-item:hover .img-title {
    /*opacity: 1;*/
}

.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    /*opacity: 0;*/
    display: none; /* comment this out for CSS hover */
    background-color: #333;
    /*transition: all 0.5s ease;*/
}

    .img-title h5 {
        position: absolute;
        color: #fff;
        top: 33%;
        width: 100%;
        text-align: center;
    }
